@use "../../../styles/mixins.scss";
.ProjectsHero {
  @include mixins.flexCenter;
  flex-direction: column;
  height: 80vh;
  .lottie {
    margin-top: 3rem;
  }
}
@media (max-width: 768px) {
  .ProjectsHero {
    height: 50vh;
  }
}
