@use "../../../styles/mixins.scss";
.skills {
  height: 100vh;
  width: 60vw;
  @include mixins.flexCenter;
  flex-direction: column;
  padding: 1rem 3rem;
  h2 {
    font-size: 7rem;
    font-family: "Anton", serif;
    font-weight: 900;
    filter: invert(0.8);
    z-index: -1;
  }
  .socials {
    // @include mixins.flexCenter;
    width: 100%;
    .mySwiper {
      width: 250px;
      height: 320px;
      @include mixins.flexCenter;
      .swiperSlide {
        @include mixins.flexCenter;
        border-radius: 0.5rem;
        overflow: hidden;
        & :not(img) {
          display: none;
        }
        img {
          width: 250px;
          height: 320px;
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
  }
}

@media (max-width: 769px) {
  .skills {
    display: none;
  }
}
