@use "../../../styles/mixins.scss";
.ProjectCardSection {
  @include mixins.flexCenter;
  flex-direction: column;
  padding: 2rem 1rem;

  h2 {
    font-size: 7rem;
    font-family: "Anton", serif;
    font-weight: 900;
    filter: invert(0.8);
    z-index: -1;
  }
  .cards {
    @include mixins.flexCenter;
    align-items: flex-start;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin: 3rem 0;
  }
}
@media (max-width: 768px) {
  .ProjectCardSection {
    @include mixins.flexCenter;
    h2 {
      font-size: 3rem;
    }
  }
}
