@use "../../../styles/mixins.scss";
.AboutPage {
  height: 100vh;
  width: 100vw;
  @include mixins.flexCenter;
  justify-content: flex-end;
  // background: red;
  position: absolute;
  top: 0;
  overflow: hidden;
  img {
    position: absolute;
    right: -12rem;
    top: -3rem;
    height: 150vh;
    filter: drop-shadow(15px 10px 30px black);
    // filter: brightness(.5);
  }
  .data {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: var(--card-bg);
    // backdrop-filter: blur(1px);
    overflow-y: auto;
    scroll-snap-type: y mandatory;
  }
}

@media (max-width: 769px) {
  .AboutPage {
    img {
      display: none;
    }
  }
}
