@use "../../../styles/mixins.scss";
.AdminPanel {
  height: 100vh;
  width: 100vw;
  @include mixins.flexCenter;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  padding: 2rem 0;
  .group {
    @include mixins.flexCenter;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
    h2 {
      font-size: 7rem;
      font-family: "Anton", serif;
      font-weight: 900;
      filter: invert(0.8);
      z-index: -1;
    }
    :where(input, textarea, button) {
      padding: 0.5rem 1rem;
      border-radius: 0.3rem;
      background: var(--card-bg);
      border: none;
      outline: none;
      width: 20rem;
      resize: none;
      color: var(--white);
      word-wrap: break-word;
    }
  }
}

@media (max-width: 769px) {
  .AdminPanel {
    .group {
      h2 {
        font-size: 3rem;
      }
    }
  }
}
