@use "../../../styles/mixins.scss";

.card{
  @include mixins.flexCenter;
  text-decoration: none;
  align-items: flex-start;
  flex-direction: column;
  color: var(--white);
  width: 20rem;
  padding: 1rem;
  gap: 1.5rem;

  background:var(--card-bg) ;
  border-radius: 0.3rem;
  h3{
    font-size:1.5rem;
  }

  div{
    svg{
      font-size: 2rem;
      margin-right: 1rem;
    }
  }
}