@use "../../../styles/mixins.scss";

.loader {
  // @include mixins.flexCenter;
  height: 100vh;
  width: 100vw;
  background: var(--black);
  color: var(--white);
  font-size: 3.5rem;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  // font-weight: 700;
  // flex-wrap: wrap;
  p {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50% -50%);
    font-size: 5rem;
    font-family: "Anton", serif;
    font-weight: 500;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px var(--primary-color-4);
  }
}

@media (max-width: 769px) {
  .loader {
    font-size: 3rem;
    p {
      top: 40%;
      left: 25%;
    }
  }
}
